@import "../scss/vars";

.Menu{
  background: transparent;
  width: 90%;
  height: 50px;
  margin-right: 40px;
  margin-left: 40px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid $light-gray;
  ul{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-bottom: 0;
  }
  li{
    padding:5px 15px;
    list-style: none;

  }
  a{
    @extend %font-18;
  }
  }
@media (max-width: $mobile) {
 .Menu{
   display: none;
 }
  .Menu:after{
    content: 'MENU';
    color: $light-gray;
  }
}

